*{
   
    font-family: "Source Code Pro", monospace;
   
    

}
body{
    background-image: url("www.reallygreatsite.com.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* image-rendering: pixelated; */
}
.container{
    /* border: 1px solid; */
    
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top: 140px;
    transition: 1s;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    border-radius: 20px;
    background-color: #101820 ;
    padding:1px ;
}

h1{
    background-color: #101820;
    padding: 8px;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 100px;
    transform: translate(0px,-40px);
    border-top: 0.5px solid whitesmoke;
    box-shadow: 0px 0px 10px snow;
    border-bottom: 0.5px solid whitesmoke;
    border-radius: 16px;
    color: #101820;
    background-color: whitesmoke;
}
form{
    background-color: #101820;

}
label{
    border: 1px solid;
    padding: 8px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 8px;
}
#sec{
    transform: translate(30px,-120px);
    width: 50px;
    height: 30px;
}
#lg{
    transform: translateX(8px);
    
}
input[type="text"],input[type="password"]{

    padding-left: 19px;
    background-color: whitesmoke;
    padding-right: 22px;
    padding-top: 15px;
    margin-top: 24px;
    padding-bottom: 15px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    transition: 0.9s;
    transform: translate(0px,-35px);

}
#passl{
    transform: translate(-27px,-35px);
}
#user{
    transform: translate(-30px,-35px);
}

i{
    transform: translate(-145px,0px);
    background-color: whitesmoke;
}
input[type="submit"]{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #101820;
    width: 210px;
    border: none;
    background-color: whitesmoke;
    transition: 0.8s;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 10px snow;
}
input[type="text"]:focus{
    outline: none;
    box-shadow: 0px 0px 10px snow;
    width: 210px;
}
input[type="password"]:focus{
    outline: none;
    box-shadow: 0px 0px 10px snow;
    width: 210px;
}
.container:hover{
    margin-top: 120px;
}