/* body{
  /* background-image: linear-gradient(to left, rgb(44, 163, 242), #f9267a); */


.form-Code{
 
    width: 950px;
    padding-top: 32px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    /* height: 550px; */
    margin-top: 20px;
    border-radius: 24px;
    transition: 0.8s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    background-image: linear-gradient(to right, rgb(6, 6, 6), #000000);

    /* background-image: linear-gradient(to right, rgb(250, 12, 12), #ee29f8); */
  
    
}

h1{
    border: 1px solid;
    text-align: center;
    border-radius: 105px;
    width: 950px;
    transform: translate(-35px,2px);
    border: 4px solid rgb(255, 239, 239);
    border-left: none;
    border-right: none;
    color: rgb(255, 243, 243);
    padding: 8px;
}
i{
transform: translate(-15px,0px);

}
#gen,#con{
  transform: translate(206px,0px);
}
#doc{
  transform: translate(360px,-53px);
}
#code{
  transform: translate(-40px,0px);
}
#gen{
  transform: translate(-520px,6px);
}
/* #t{
  transform: translate(15px,0px);
} */
/* #usr{
  width: 1px;
  font-size: 20px;
  transform: translate(-175px,72px);
  color: black;
} */

input[type="text"],input[type="number"],#add{
    padding-left: 23px;
    padding-top: 10px;
    padding-right: 21px;
    padding-bottom: 12px;
    margin-top: 11px;
    margin-left: 2px;
    border: 1px double rgb(16, 245, 50);
    transition: 0.3s;
    border-radius: 8px;
    font-weight: light;
    width: 425px;
    /* border-radius: 8px; */

    /* border: none; */
    outline: none;
}

#sl1{
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-right: 15px;
  border-radius: 10px;
  border: 1px dotted brown;
  margin-left: 0px;
  transform: translate(0px,0px);
}

#sl1:focus{
  outline: none;
}

.app,#submit,#add,#add1,#it,#vanish{
    margin-left: 21px;
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-right: 9px;
    width: 90px;
    cursor: pointer;
    transition: 0.6s;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    opacity: 0.9;
}
#add1{
  background-color: rgb(13, 238, 126);
  color: whitesmoke;
  opacity: 0.8;
  margin-top: 10px ; 
}
#add1:hover{
  opacity: 1;
}
.inpt_box{
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px 12px 5px 12px;
  outline: none;
  width: 120px;
  font-weight: bold;
}

#add:hover{
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    opacity: 1;
}
input[type="text"]:focus{
    outline:none;
  
    box-shadow: 0px 0px 15px rgba(4, 240, 4, 0.844);
    /* font-weight: bold; */
    
}
#con{
  transform: translate(380px,0px);
}
.app{
  margin-top: 4px;
  padding: 0px;
  margin-bottom: 2px;
  padding: 1px;
  
}
#gender_info{
  transform: translate(-440px,0px);
}
.app:hover{
  box-shadow: 0px 0px 20px whitesmoke;
}
#it{
  background-color: rgb(132, 37, 240);
  width: 120px;
  color: whitesmoke;
  opacity: 0.7;
}
#it:hover{
  opacity: 1;
  box-shadow: 0px 0px 15px rgb(0,0,0,0.4);
}

#submit{
  margin-top: 12px  ;
  background-color: rgb(244, 20, 106);
  margin-left: 84px;
  color: whitesmoke;
  transition: 0.5s;
  width: 120px;
  opacity: 0.7;
  font-weight: bold;
  margin-bottom: 12px;
  border: none;
}

#submit:hover{
  opacity: 1;
  box-shadow: 0px 0px 15px rgb(210, 30, 123);

}

#logo{
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 8px;
  }
  #lnk,#lnk1{
    /* border: 1px solid; */
   padding: 5px;
    margin-left: 800px;
    transition: 0.001s;
    animation: mymove 5s;
  }
  #lnk1{
    margin-left: 20px;
  }
  #lnk:hover{
    border-bottom: 2px solid rgb(255, 47, 127);
   
    border-radius: 5px;

  }
  #lnk1:hover{
    border-bottom: 2px solid rgb(255, 47, 127);
    border-radius: 5px;
  }
  #long,#long1,#long2{
    width: 400px;
  }
 

  option{
    padding: 1px;
  }
  #List{

    text-align: center;
  }
  #vanish:hover{
    box-shadow: 0px 0px 10px rgb(255, 253, 253);
  }
#age_det{
  transform: translate(440px,-60px);
  }
  #long1{
    transform: translate(420px,-59px);
  }
  #doc{
    transform: translate(790px,-109px);
  }
  #sl,#sl1,#add,#add1{
    transform: translate(0px,-56px);
  }
  #head_info,#dis{
    transform: translate(0px,-55px);
    margin-bottom: 0px;
  }
  #head_info{
    width: 240px;
    margin-left: 10px;
  }
  #List{
    transform: translate(0px,-40px);
  }
  #conta{

    margin-top:0px;
    transform: translate(0px,-20px);
    margin-left: 130px;
    width: 600px;
  }
  #date{
    transform: translate(0px,-55px);
    margin-left: 11px;
    margin-right: 12px;
    border-radius: 10px;
    border: none;
    padding: 12px 8px 12px 8px;
  }